.button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
  color: #fff;

  transition: 0.4s ease;
}

.button img,
.button svg {
  margin-right: 10px;
}

.button.primary {
  background-color: #3b2186;
}

.button.primary:disabled {
  background-color: #e0e0f2;
  color: #3b2186;
  user-select: none;
  pointer-events: none;
}

.button.secondary {
  background-color: #f2cf7e;
}

.button.secondary:disabled {
  background-color: #fdf8ec;
  color: #f2cf7e;
  user-select: none;
  pointer-events: none;
}

.button.-size-m {
  padding: 14px 24px;
  border-radius: 50px;
}

.button.-size-m p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.button.-size-s {
  padding: 8px 24px;
  border-radius: 100px;
}

.button.-size-s p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

/* --- hover ---*/

@media screen and (hover: hover) {
  .button.primary:hover {
    background-color: #2b1765;
  }

  .button.secondary:hover {
    background-color: #e6c270;
  }
}
