.become-partner-block {
  position: relative;
  padding-bottom: 520px;
}

.become-partner-block .text-3 {
  padding-top: 15px;
  padding-left: 5px;
  color: #7f7f88;
}

.become-partner-block .card-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  width: 100%;
  margin-left: -6px;
}

.become-partner-block .card-item {
  display: flex;
  align-items: center;

  margin-top: 32px;
}

.become-partner-block .card-item img {
  margin-right: 20px;
}

.become-partner-block .card-item .text-3 {
  font-weight: 600;
  color: black;
  padding-top: 0;
}

.become-partner-block .title-3 {
  margin-top: 81px;
  margin-left: 7px;
}

.become-partner-block a {
  margin-top: 23px;
  margin-left: 5px;
}

.become-partner-block .button {
  padding: 20px 76px;
}

.become-partner-block .bg-block {
  position: absolute;
  left: -37px;
  bottom: 0;

  width: 100%;
}

.become-partner-block .bg-block img {
  width: 100%;
}

/* --- tablet --- */

@media screen and (max-width: 991px) {
  .become-partner-block {
    padding-bottom: 360px;
  }
}

/* --- mobile --- */

@media screen and (max-width: 768px) {
  .become-partner-block .title-2 {
    font-size: 24px;
    line-height: 32px;
  }

  .become-partner-block .text-3 {
    padding-top: 0;
    font-size: 12px;
    line-height: 20px;
  }

  .become-partner-block .card-box {
    margin-top: 26px;
  }

  .become-partner-block .card-item {
    display: flex;
    align-items: center;

    margin-top: 24px;
  }

  .become-partner-block .card-item img {
    margin-right: 12px;
  }

  .become-partner-block .title-3 {
    margin-top: 50px;
  }

  .become-partner-block .button {
    padding: 20px 33px;
  }

  .become-partner-block {
    padding-bottom: 260px;
  }
}

@media screen and (max-width: 450px) {
  .become-partner-block .bg-block {
    left: 0;
  }

  .become-partner-block {
    padding-bottom: 190px;
  }
}
